/* AB模版网 做最好的织梦整站模板下载网站 Www.AdminBuy.Cn */
/* QQ：9490489 */
/* 仿站：Fang.AdminBuy.Cn */
/* 图标：Sc.AdminBuy.Cn */

.sub-banner{
}
.sub-banner img{
    width: 100%;
}
.areaGo{
    width: 1200px;
    margin: 0 auto;
    margin-top: 65px;
    display: table;
}
.area-top{
    position: relative;
}
.area-title{
    font-size: 24px;
    color: #666;
    border-bottom: 2px solid #ff8d00;
    display: inline-block;
    padding-bottom: 10px;
}
.area-describe{
    display: inline-block;
    color: #888;
    font-size: 18px;
    margin-left: 33px;
}
.area-line{
    height: 2px;
    width: 1200px;
    background-color: #e1e1e1;
    margin-top: -2px;
    margin-bottom: 47px;
}
.area-more{
    color: #888;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 12px;
}
.active{color: #ff8d00!important;}
.area-more a{color: #888;}
.area-main{
    float: left;
    width: 882px;
}
.area-main-Li{
    background-color: #fff;
    border: 1px solid #d7d7d7;
    position: relative;
    transition: all .15s linear;
    margin-bottom: 37px;
    height: 170px;
}
.area-main-Li:hover{
    box-shadow: 0 0 15px #bbb;
}
.area-main-Li-img{
    display: inline-block;
    width: 266px;
    height: 170px;
    overflow: hidden;
}
.area-main-Li-info{
    width: 62%;
    display: inline-block;
    float: right;
    padding-left: 34px;
    padding-right: 34px;
}
.area-main-Li-info h2{
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 13px;
}
.area-main-Li-info h2 a{
    color: #666;
}
.area-main-Li-info p{
    font-size: 14px;
    line-height: 29px;
    color: #a1a1a1;
}
.area-main-Li-info .area-main-Li-info-time{
    font-size: 12px;
    position: absolute;
    bottom: 10px;
}
.area-main-Li-info-btn{
    display: inline-block;
    background-color: #ff8d00;
    color: #fff;
    padding: 4px 17px;
    position: absolute;
    right: 39px;
    bottom: 21px;
}
/* 分页 */
.page{margin: 0 auto;position: relative;text-align: center;margin-bottom: 25px;}
.page ul {
    list-style: none;
    padding: 0 12px;
    /* background: #0880d8; */
    display: inline-block;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
   /*  box-shadow: 0px 4px #606060, 0px 4px 6px rgba(0, 0, 0, 0.3); */
}
.page ul li {
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 0px;
    display: inline-block;
    position: relative;
    border:1px solid #d3d3d3;
    bottom: -11px;
}
.page ul li a {
    background: white;
    display: block;
    padding: 0 12px;
    color: #959595;
    position: relative;
    text-decoration: none;
    height: 27px;
    line-height: 27px;
    font-family: "微软雅黑";
    transition: all .2s linear;
    /* box-shadow: 0px 3px #7fafbc, 0px 4px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; */
}
.page ul li a.cur {
    background: #ff8d00;
    color: white;
}
.pre_page a:hover,.next_page a:hover, .page_number a:hover,.index a:hover,.end a:hover{
    background-color: #ff8d00;
    color: #fff;
}

.area-sub{
    float: right;
    width: 293px;
}
.sub-blockCall, .sub-blockNews, .sub-blockMenu{
    width: 292px;
    border: 1px solid #d2d2d2;
    margin-bottom: 22px;
    background-color: #fff;
}
.sub-blockMenu{
    text-align: center;
}
.sub-blockMenu li{
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #d2d2d2;
}
.sub-blockMenu li:hover{
    border-left: 2px solid #ff8d00;
    margin-left: -1px;
}
.sub-blockMenu li a{
    transition: color .2s linear;
}
.sub-blockMenu li:hover a{
    color: #ff8d00;
}
.sub-blockMenu .active{
    border-left: 2px solid #ff8d00;
    margin-left: -1px;
}
.sub-blockMenu li:last-child{
    border-bottom: 0;
}
.sub-blockMenu li a{
    color: #666;
}
.sub-blockMenu .active a{
    color: #ff8d00;
}
.sub-blockCall{
    height: auto;
}
.sub-blockCall-info{
    padding-left: 19px;
    padding-right: 19px;
	margin-bottom:19px;
}
.sub-blockCall-phone{
    float: left;
    margin-top: 25px;
    padding: 4px 3px;
}
.sub-blockCall-phoneNum{
    margin-top: 20px;
    margin-left: 14px;
}
.sub-blockCall-phoneNum p:first-child{
    color: #666;
    font-size: 14px;
}
.sub-blockCall-phoneNum p:last-child{
    color: #666;
    font-size: 24px;
}
.sub-blockCall-phone{
    border: 1px solid #b5b5b5; 
    display: inline-block;
}
.sub-blockCall-phoneNum{
    display: inline-block;
}
.sub-blockCall-input{
    margin-top: 15px;
    margin-bottom: 12px;
}
.sub-blockCall-input input{
    height: 37px;
    width: 191px;
    border: 1px solid #b5b5b5;
    border-right: 0;
    text-indent: .35em;
}
.sub-blockCall-input button{
    background-color: #0896d6;
    color: #fff;    
    font-size: 18px;
    padding: 6px 10px 9px;
    border: 1px solid #0896d6;
    border: 0;
    margin-left: -6px;
    cursor: pointer;
}
.sub-blockCall-des{
    color: #ff8d00;
    text-align: center;
    font-size: 12px;
}
.sub-blockCall-des span{
    color: #0896d6;
}
.sub-blockNews{
    height: auto;
}
.sub-blockNews-top{
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
}
.sub-blockNews-title{
    color: #666;
    font-size: 16px;
    border-bottom: 2px solid #ff8d00;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 25px;
}
.sub-blockNews-more{
    position: absolute;
    right: 19px;
    top: 27px;
    color: #999;
}
.sub-blockNews-more a{
    color: #999;
}
.sub-blockNews-more span{
    font-family: '宋体';
}
.sub-blockNews-line{
    width: 100%;
    height: 2px;
    background-color: #e1e1e1;
    margin-top: -2px;
}
.sub-blockNews-info{
    padding-left: 19px;
    padding-right: 19px;
	margin-bottom:19px;
    overflow: hidden;
    height: auto;
}
.sub-blockNews-info li{
    border-bottom: 1px dashed #e5e5e5;
}
.sub-blockNews-info li p{
    transition: all .1s linear;
}
.sub-blockNews-info li p:first-child:before{
    content: '❘▶';
    font-size: 16px;
    margin-right: 10px;
}
.sub-blockNews-info li p:first-child{
    color: #b0b0b0;
    margin-bottom: 5px;
    margin-top: 13px;
}
.sub-blockNews-info li p:last-child{
    color: #666;
    margin-left: 28px;
    margin-bottom: 10px;
}
.sub-blockNews-info li:hover p{
    color: #ff8d00;
}
@media (max-width: 1650px) {
    .sub-blockCall-input button{
        padding: 8px 10px 10px;
    }
    .sub-blockCall-des{
        line-height: 22px;
        margin-top: 14px;
    }
    .sub-blockNews-info li p:first-child{
        margin-top: 16px;
    }
}
@media (max-width: 1550px) {
    .sub-blockCall-input button{
        padding: 7px 10px 10px;
    }
    .sub-blockCall-des{
        line-height: 20px;
        margin-top: 16px;
    }
}